*{
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body{
	background-size: cover;
	background-position: center;
}

.container{
	margin: 10px 30px;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	/*background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01e4);*/
	background:linear-gradient( rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.5)100%),url("../images/login.jpg");
	background-size: cover;
}

.margin{
	padding: 1px 0;
}

.form-box{
	width: 500px;
	/*background: rgba(0,0,0,0.6);*/
	background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.5)100%),url("../images/login.jpg");
	margin: 12% auto;
	text-align: center;
	padding: 30px 0px;
	color: #fff;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

.input-box{
	margin: 21px auto;
	width: 80%;
	border-bottom: 1px solid #fff;
	padding-top: 5px;
	padding-bottom: 0px;

}

.input-box input{
	width: 90%;
	border: none;
	outline: none;
	background: transparent;
	color: #fff;
}

.input-box select{
	color: #ccc;
	width: 90%;
	outline: none;
	background:transparent;
	border: none;
}

::placeholder{
	color: #ccc;
}
.fa{
	margin-right: 10px;
}

.eye{
	position: absolute;
}

#hide1{
	display: none;
}

#hide1, #hide2{ 
	cursor: pointer;
}

.login-btn{
	margin: 40px auto 20px;
	width: 80%;
	display: block;
	outline: none;
	padding: 10px 0;
	border: 1px solid #fff;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	background-color: #00ad5f;
	/*background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01e4);*/
}
.login-btn:hover{
	background: #333333;
}


@media (max-width: 800px){
	.container{
		margin: 0;
		background: #fff;
	}
	.margin{
		margin: 0;

	}
	.form-box{
		width: 400px;
	}
}

