*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

.sidebar{
	width: 345px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	background-color: #00ad5f;
	z-index: 100%;
	transition: width 300ms;
}
.sidebar-brand{
	height: 98px;
	padding: 1rem 0rem 1rem 0rem;
	color: #fff;
}
.sidebar-brand span{
	display: inline-block;
	padding-right: 1rem;
}

.sidebar-menu{
	margin-top: 1rem;
}

.sidebar-menu li{
	width: 100%;
	margin-bottom: 1.3rem;
	padding-left: 2rem;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.sidebar-menu a{
	padding-left: 1rem;
	display: block;
	color: #fff;
	font-size: 1.1rem;
}

.sidebar-menu a.active{
	background-color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #00ad5f;
	border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a.logout{
	background-color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: black;
	border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a span:first-child{
	padding-right: 1rem;
	font-size: 1.5rem;
}  

#nav-toggle:checked + .sidebar{
	width: 70px;
}

#nav-toggle:checked + .sidebar .sideber-brand,
#nav-toggle:checked + .sidebar li{
	padding-left: 1rem;
	text-align: center;
}

#nav-toggle:checked + .sidebar li a{
	padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sideber-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
	display: none;
}


#nav-toggle:checked ~ .main-content{
	margin-left: 70px;
}


#nav-toggle:checked ~ .main-content header{
	width: calc(100% - 70px);
	left: 70px;
	
}


.main-content{
	transition: margin-left 300ms;
	margin-left: 345px;
	background-color: #f1f5f9;
	background-size: cover;
}

header{
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
	position: fixed;
	left: 345px;
	width: calc(100% - 345px);
	top: 0;
	z-index: 100;
	transition: left 300ms;
	background-color: #00ad5f;
}
#nav-toggle{
	display: none;
}

header h2{
	color: #fff;
}

header label span{
	font-size: 1.7rem;
	padding-right: 1rem;
}

.search-wrapper{
	border: 1px solid #ccc;
	border-radius: 30px;
	height: 50px;
	display: flex;
	align-items: center;
	overflow-x: hidden;
	background-color: #fff;
}

.search-wrapper span{
	display: inline-block;
	padding: 0rem 1rem;
	font-size: 1rem;
	color: #999;
}

.search-wrapper input{
	height: 100%;
	padding: .5rem;
	border: none;
	outline: none;
}

.user-wrapper{
	display: flex;
	align-items: center;
}

.user-wrapper img{
	border-radius: 50%;
	margin-right: 1rem;
}

.user-wrapper small{
	display: inline-block;
	color: lightgrey;
}

.user-wrapper h4{
	color: #fff;
}

main{
	margin-top: 85px;
	padding-left: 2rem 1.5rem;
	min-height: calc(100vh - 90px);
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}


input:focus::-webkit-input-placeholder {
	color:transparent; 
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/*===========[ Form ]=================*/

.contact100-form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 55px 10px 55px;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}
/*------------[ Input ]------------*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #999;
}


.label-input100 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;  
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  border: 1px solid #999;
  border-bottom: none; 
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 40px;
}

select.input100 {
  height: 40px;
}
.input101 {
  width: 10%;
  background: transparent;
  font-family: Poppins-Regular;
 
  color: #666666;
  line-height: 1.2;
  padding: 0 20px;
}

input.input101 {
  height: 40px;
}

/*--------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #00ad5f;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.input101:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
/*-------------[ Button ]------------*/
.container-contact100-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px;
}

.contact100-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 2px;
  background: #00ad5f;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}



/*--------responsive--------*/

@media only screen and (max-width: 1100px){
	.sidebar{
		width: 70px;
	}

	sidebar .sideber-brand,
	.sidebar li{
		padding-left: 1rem;
		text-align: center;
	}

	.sidebar li a{
		padding-left: 0rem;
	}

	.sidebar .sideber-brand h2 span:last-child,
	.sidebar li a span:last-child{
		display: none;
	}


	.main-content{
		margin-left: 70px;
	}


	.main-content header{
		width: calc(100% - 70px);
		left: 70px;
		
	}

}
@media only screen and (max-width: 775px){
	.search-wrapper{
		display: none;
	}
	.card-single{
		margin-right: 20px;
		margin-left: 20px;
	}
	.insert input[type="checkbox"]:last-child{
		display: block;
	}
}
@media only screen and (max-width: 540px){
	.search-wrapper{
		display: none;
	}
	.cards{
		grid-template-columns: repeat(1, 1fr);
	}
	.card-single{
		margin-top: 10px
	}
}




