*{
	margin: 0;
	padding: 0;
}

body{
	background-size: cover;
	background-position: center;
}

.container{
	margin: 10px 30px;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	background-image: url(../images/registration.jpg);
	background-size: cover;
}

.margin{
	padding: 1px 0;
}

.form-box{
	width: 500px;
	background:linear-gradient( rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.5)100%),url("../images/login.jpg");
	margin: 12% auto;
	text-align: center;
	padding: 20px 0px;
	color: #fff;
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

.input-box{
	margin: 21px auto;
	width: 80%;
	border-bottom: 1px solid #fff;
	padding-top: 5px;
	padding-bottom: 0px;
}

.input-box input{
	width: 90%;
	border: none;
	outline: none;
	background: transparent;
	color: #fff;
}

.gender-box i{
	color: #fff;
	text-align: left;
	margin-left: -25px;
}

.input-box .fa{
	color: #fff;
}

.gender-box span{
	margin-left: -10px;
	color: #ccc;
	font-size: 14px;
}
.gender-box input{
	margin-left: 40px;
}
label{
	color: #ccc;
	font-size: 14px;
}

.input-box select{
	color: #ccc;
	width: 90%;
	outline: none;
	background:transparent;
	border: none;
}

::placeholder{
	color: #ccc;
}
.fa{
	margin-right: 10px;
}

.ta{
	margin-right: 10px;
}


.eye{
	position: absolute;
}

#hide1{
	display: none;
}

#hide1, #hide2{
	margin-left: -12px; 
	cursor: pointer;
}

#hide3{
	display: none;
}

#hide3, #hide4{
	margin-left: -12px; 
	cursor: pointer;
}

.login-btn{
	margin: 40px auto 20px;
	width: 80%;
	display: block;
	outline: none;
	padding: 10px 0;
	border: 1px solid #fff;
	cursor: pointer;
	background: transparent;
	background-color: #00ad5f;
	font-size: 16px;
	text-transform: capitalize;
}
.login-btn:hover {
	background-color: #333333;
}

@media (max-width: 800px){
	.container{
		margin: 0;
		background: #fff;
	}
	.margin{
		margin: 0;

	}
	.input-box #user{
		color: #fff;
		margin-right: 0;
	}
	.gender-box input{
	margin-left: 18px;
}
	.form-box{
		width: 400px;
	}
}
